<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escass.testpersonals.mappers.PersonalMapper">
    <insert id="insertPersonal"
            parameterType="com.escass.testpersonals.entities.PersonalEntity">
        INSERT INTO `test0426`.`personals` (`name`, `gender`, `ssn_birth`, `ssn_key`, `region`)
        VALUES (#{name}, #{gender}, #{ssnBirth}, #{ssnKey}, #{region})
    </insert>
    <select id="selectPersonals"
            resultType="com.escass.testpersonals.entities.PersonalEntity">
        SELECT `name`      AS `name`,
               `gender`    AS `gender`,
               `ssn_birth` AS `ssnBirth`,
               `ssn_key`   AS `ssnKey`,
               `region`    AS `region`
        FROM `test0426`.`personals`
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
    <select id="selectPersonalCount"
            resultType="_int">
        SELECT COUNT(0)
        FROM `test0426`.`personals`
    </select>
    <select id="selectSearchPersonals"
            resultType="com.escass.testpersonals.entities.PersonalEntity">
        SELECT `name` AS `name`,
        `gender` AS `gender`,
        `ssn_birth` AS `ssnBirth`,
        `ssn_key` AS `ssnKey`,
        `region` AS `region`
        FROM `test0426`.`personals`
        <where>
            <if test="filter != null and filter.equals('name')">
                AND `name` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="filter != null and filter.equals('gender')">
                AND `gender` = #{search}
            </if>
            <if test="filter != null and filter.equals('ssn')">
                AND CONCAT(`ssn_birth`, `ssn_key`) LIKE CONCAT ('%', #{search}, '%')
            </if>
            <if test="filter != null and filter.equals('region')">
                AND `region` LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
    <select id="selectSearchPersonalCount"
            resultType="_int">
        SELECT COUNT(0)
        FROM `test0426`.`personals`
        <where>
            <if test="filter != null and filter.equals('name')">
                AND `name` LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="filter != null and filter.equals('gender')">
                AND `gender` = #{search}
            </if>
            <if test="filter != null and filter.equals('ssn')">
                AND CONCAT(`ssn_birth`, `ssn_key`) LIKE CONCAT('%', #{search}, '%')
            </if>
            <if test="filter != null and filter.equals('region')">
                AND `region` LIKE CONCAT('%', #{search}, '%')
            </if>
        </where>
    </select>
</mapper>